body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a,
.footer-section p a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-list .logo {
    margin: 0 40px; /* Ajuste a margem conforme necessário */
}

.nav-list .logo img {
    height: 50px; /* Ajuste o tamanho da logo conforme necessário */
}

.nav-list li a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #f7f7f7;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 10px 0;
    flex: 1;
    min-width: 200px;
    color: #f7f7f7;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a,
.footer-section p a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 1px;
    
}
.a{
    color: #f7f7f7;
}